<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Card치pio Semanal</title>
    <link rel="stylesheet" href="/cardapio_form.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <nav>          
          <ul class="nav-links">
            <li><a href="/cardapio/atual">Card치pio Atual</a></li>
            <li><a href="/cardapio/proximo">Card치pio Pr칩xima Semana</a></li>
          </ul>
          <button id="logout-btn" onclick="window.location.href='/logout'">Sair</button>
        </nav>
      </div>
    </header>

    <script src="/script.js"></script>
  </body>
</html>
