<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Microserviços DTI HMACN" />
    <meta name="keywords" content="cardápio, zeladoria, protocolos, blog" />
    <meta name="author" content="Thiago Possa" />
    <title>Cardápio Semanal</title>
    <link rel="stylesheet" href="/cardapio_form.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <nav>
          <ul class="nav-links">
            <li><a href="/cardapio/atual">Cardápio Atual</a></li>
            <li><a href="/cardapio/proximo">Cardápio Próxima Semana</a></li>
          </ul>
          <button id="logout-btn" onclick="window.location.href='/logout'">Sair</button>
        </nav>
      </div>
    </header>

    <script src="/script.js"></script>
  </body>
</html>
