<%- include('partials/layout', { title: 'Cardápio Semanal', partialContent: 'partials/cardapioForm' }) %>

<h1 id="titulo-cardapio">Cardápio</h1>
<div id="botoes-container">
  <a href="/cardapio/atual" id="btn-editar-atual">Editar atual</a>
  <a href="/cardapio/proxima" id="btn-preencher-proxima">Preencher próxima semana</a>
</div>
