<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Zeladoria lista de pacientes</title>
    <link rel="stylesheet" href="/zeladoria.css" />
  </head>
  <body>
    <header>
      <h1>Zeladoria - Lista de Pacientes</h1>
      <button class="logout-button">Logout</button>
    </header>
    
    <main>
      <form action="/zeladoria/downloadPacientes" method="get">
        <button class="download-button" type="submit">Baixar Lista de Pacientes</button>
      </form>      
    </main>    
  </body>
</html>